<% meta_tags %>

<% content_for :page_title, title %>

<div class="flex flex-col gap-4 justify-center p-4">
  <div class="flex flex-row justify-between items-center">
    <div>
      <%= render Games::SortSelectComponent.new(selected: params[:sort]) %>
    </div>

    <div>
      <%= render Games::FilterFormComponent.new(
        filters_form_object: filters_form_object,
        genres: genres,
        languages: languages
      ) %>
    </div>
  </div>

  <%= render Games::GridComponent.new(games: games) %>

  <%= render Navigation::PaginationComponent.new(pagy: pagy) %>
</div>
