<%#
  The lg:w-[calc(100%-18rem)] is used to fix the width problem caused by the `fixed` class at parent container.
  18rem == w-72 == Sidebar width
%>
<div class="navbar lg:w-[calc(100%-18rem)] bg-base-200">
  <div class="flex-1">
    <label for="app-drawer" class="btn btn-ghost btn-circle drawer-button lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" /></svg>
    </label>
    <span class="text-2xl font-bold truncate lg:ml-4">
      <%= title %>
    </span>
  </div>

  <div class="flex-none mr-2">
    <% if current_user.present? %>
      <%= render Layout::UserMenuComponent.new(current_user: current_user) %>
    <% else %>
      <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
