- title title
- description t('website_description')
- keywords 'Nintendo Switch, Games, Jogos, Nintendo, eShop'
- set_meta_tags twitter: { \
  card: 'summary_large_image',
  site: '@nindika_com' \
}
- set_meta_tags og: { \
  title: "nindika | #{title}",
  description: t('website_description'),
  type: 'website',
  url: games_url,
  image: image_url('nindika.png'),
}
