- title @game.title
- description @game.description
- keywords ['Nintendo Switch', @game.title].join(', ')
- set_meta_tags twitter: { \
  card: 'summary_large_image',
  site: '@nindika_com' \
}
- set_meta_tags og: { \
  title: "nindika | #{@game.title}",
  type: 'website',
  description: @game.description,
  url: game_url(@game.slug),
  image: @game.banner_url,
}
