= render 'metatags_items_list', title: t('.title')

.uk-container.uk-container-xlarge
  = render App::PageTitleComponent.new do
    = t('.title')

  = render Items::ListComponent.new( \
    items: @games,
    pagy: @pagy,
    filters_form_object: @filters_form,
    genres: @genres,
    languages: @languages \
  )
