<div class="flex flex-col w-full gap-4 bg-base-200 p-4 rounded-none md:rounded-2xl border border-gray-700"
  data-controller="price-history-chart"
  data-price-history-chart-data-value="<%= item.price_history_items.to_chart_data.to_json %>"
>
  <div class="text-lg font-bold">
    <%= t(".price_history") %>
  </div>
  <canvas data-price-history-chart-target="canvas"></canvas>
</div>
