<div class="flex flex-col gap-4" data-controller="item-thumbnails">
  <div class="splide" data-item-thumbnails-target="main">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <%= image_tag item.banner_url, class: "w-full aspect-video", width: 720, height: 480, alt: "Banner" %>
        </li>
        <% item.screenshot_urls.each_with_index do |image_url, index| %>
          <li class="splide__slide">
            <%= image_tag image_url, class: "w-full aspect-video", width: 720, height: 480, alt: "Screenshot #{index}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="splide" data-item-thumbnails-target="thumbnail">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <%= image_tag item.small_banner_url, width: 480, height: 320, alt: "Banner thumbnail" %>
        </li>
        <% item.screenshot_urls.each_with_index do |image_url, index| %>
          <li class="splide__slide">
            <%= image_tag image_url, width: 480, height: 320, alt: "Thumbnail #{index}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
