$main-color: #ff007d;
$secondary-color: #000000;
$page-background-color: #f0eee2;
$white: #ffffff;
$black: #000000;
$link-color: #007dff;
$hover-link-color: #0058b3;

@import url('https://rsms.me/inter/inter.css');

// GLOBAL
$global-font-family: 'Inter', sans-serif;
$global-color: $black;
$base-body-background: $page-background-color;
$global-primary-background: $main-color;
$global-secondary-background: $secondary-color;
$global-link-color: $link-color;
$base-link-hover-color: $hover-link-color;

// MIXIS
@mixin nav-link-bottom-border($height: 6px, $color) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: $height $color solid;
  padding-top: $height;
}

// BUTTONS
$button-disabled-background: $white;

// NAVBAR OVERRIDE
$navbar-background: $white;
$navbar-nav-item-color: $black;
$navbar-nav-item-hover-color: $black;

ul.uk-navbar-nav {
  li > a:hover {
    @include nav-link-bottom-border(6px, $secondary-color);
  }

  li.uk-active > a {
    @include nav-link-bottom-border(6px, $main-color);
  }
}

// SIDEBAR
$nav-default-font-size: 1rem;
.uk-offcanvas {
  ul.uk-nav {
    li > a:hover {
      @include nav-link-bottom-border(3px, $white);
    }

    li.uk-active > a {
      @include nav-link-bottom-border(3px, $main-color);
    }
  }
}


// PLACEHOLDER
$placeholder-border: $black;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
