.dark-mode {
  #nindika-logo {
    content: url('nindika-dark.svg');
  }

  footer.footer {
    background-color: var(--dark-color);
    border: none !important;
  }
}

#nindika-logo {
  content: url('nindika-light.svg');
}

footer.footer {
  background-color: var(--white-bg-color);
}

.text-discord {
  color: #7289d9;
}

.text-twitter {
  color: #00acee;
}

.hidden-card {
  opacity: 0.6;
}
