.dropdown.ml-5
  button.btn.btn-action.btn-default.btn-sm(
    id=dropdown_id
    data-toggle="dropdown"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
  )
    i.fas.fa-ellipsis-v

  .dropdown-menu.dropdown-menu-right(aria-labelledby=dropdown_id)
    .dropdown-item
      .custom-checkbox(
        data-controller="feature-checkbox"
        data-feature-checkbox-path-value=feature_game_path(game.id)
      )
        = check_box_tag feature_checkbox_id, true, game.featured,
          data: { 'feature-checkbox-target' => 'checkbox', action: 'feature-checkbox#change' }
        = label_tag feature_checkbox_id, t('.feature')
