<div class="hero w-full md:w-3/4 lg:w-2/3 xl:w-1/2 p-8 bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-2xl font-bold"><%= t(".title") %></h1>
      <p class="py-6"><%= t(".description") %></p>
      <%= link_to t(".action"), all_games_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
