<div class="flex flex-col gap-4 p-4">
  <h3 class="font-bold text-xl">
    <%= link_to href, class: "flex flex-row items-center hover:gap-1" do %>
      <%= title %>
      <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    <% end %>
  </h3>
  <%= render Games::CardComponent.with_collection(games) %>
</div>
