<% meta_tags %>

<iframe plausible-embed src="https://analytics.nindika.com/share/nindika.com?auth=ccbGXZYbE84U3yyYwKYS8&embed=true&theme=light&background=transparent" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>

<div class="uk-text-center uk-margin-bottom">
  Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a>
</div>
<script async src="https://analytics.nindika.com/js/embed.host.js"></script>
