.text-discord {
  color: #7289d9;
}

.text-twitter {
  color: #00acee;
}

.image-with-actions {
  .actions {
    right: 0.5em;
    top: 0.5em;
    display: block;
    position: absolute;

    .dropdown {
      display: inline-block;
    }
  }
}
