div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")
  nav.uk-navbar.uk-navbar-container(uk-navbar)
    .uk-navbar-left
      = render App::SidebarComponent.new

      = link_to root_path, class: 'uk-navbar-item uk-logo uk-text-bolder' do
        img(uk-img width="130px" src=image_path("nindika-light.svg") id="nindika-logo" alt="nindika logo")
      ul.uk-navbar-nav(class="uk-visible@m")
        li.uk-text-bold(class=active_class_for_link(root_path))
          = link_to t('.home'), root_path
        = render App::Navbar::GameMenuComponent.new

    .uk-navbar-center(class="uk-visible@m")
      .uk-navbar-item
        = render App::SearchFormComponent.new

    .uk-navbar-right
      - if current_user.present?
        ul.uk-navbar-nav
          li.uk-text-bold
            = link_to t('.log_out'), destroy_user_session_path, data: { method: :delete }
      - else
        .uk-navbar-item.uk-text-bold
          = link_to t('.log_in'), new_user_session_path, class: 'uk-button uk-button-primary'


